@charset "UTF-8";

@import "~bootstrap/scss/bootstrap";

.page {
  height: 100vh;
  .login-form {
      position: absolute;
      height: 100px;
      top: 40%;
  }
}
.messages {
  height: 85vh;
  overflow-y: scroll;
}